* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#banner {
    background-color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

#nav-menu {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    gap: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.photos {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.photos img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}



.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto 1fr auto;
}

#nav-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: white;
}
