.container {
    display: flex; 
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -50px;
    margin-left: 0px;
    border: 1px solid black;
}

h1 {
    font-size: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin right: 1px;
}

a {
    margin: 0px 5px;
    font-size: 20px;
    color: black;
}